.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

.container {
  margin-left: 250px;
  margin-right: 250px;
}

.songs{
  display:grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto;
}

.thumbnails {
  width: 30%;
  
}


input[type="text"] {
  width: 20%;
  padding: 5px 12px;
  margin: 5px 5px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 2px solid #FF0000; 
  outline-style: none;
  
}

.button {
  background-color: #FF0000;
}

a:link {
  text-decoration: none;
  display:grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto;
}

.section {
  padding-top: 20px;
}

.comment {
  justify-content: center;
  align-items: center;
}
